<form action="/auth/signup" method="post">
  <input type="text" name="name" id="name">
  <input type="email" name="email" >
  <label for="isLaunderer">Quieres ser launderer?</label>
  <input type="checkbox" name="isLaunderer" id="launderer" checked>
  <input placeholder="Contraseña" type="password" name="password" id="">
  {{!-- <input placeholder="Repite tu contraseña" type="password" name="password2" id=""> --}}
  
  <input type="submit" value="">
</form>